@charset "utf-8";
/* CSS Document */
html{
  height: 100%;
}
body {
  min-height: 100%;
}
.fool
{
    -webkit-transform:rotate(-4deg);
}
      body{
        font-family:Microsoft YaHei;
      }

      .center
      {
    margin-left:auto;
        margin-right:auto;
        float:none;
        text-align:center;
      }
      #gotopbtn{   
        position:fixed;
        right:40px;
        bottom:40px;
      }

      #qr{
        margin-left:120px;
      }

.auth_form
{
  position:relative;
  top:173px;
  box-shadow: 0 0 41px rgba(0, 0, 0, .3),0 4px 0 rgba(255, 255, 255, .8),0 5px 0 rgba(100, 100, 100, 0.4),0 8px 0 rgba(255, 255, 255, .4),inset 0 0 5px rgba(255, 255, 255, .1);
  border-radius:5px;
  margin:0 auto;
  padding:10px 20px 20px 20px;
  background:#fff;
  font-size:16px;
  width:220px;

}

.auth_form form
{
  margin:0px;
}
.header {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  background: #fff url(../img/header_bg1.png) 0 0 repeat-x;
  border-bottom: solid 1px #2BB3EC;
}
.inner {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.header h1 {
  letter-spacing: -1px;
  font-size: 54px;
  color: #fff;
  vertical-align:bottom;
  line-height: 1;
  margin-bottom: 0.1em;
}

.header h2 {
  font-size: 32px;
  color: #9ddcff;
  font-weight: normal;
  line-height: 1.3;
  width: 740px;
  letter-spacing: 0;
}

.icon-verified
{
  background-image: url("/img/verify.png");
  background-position: 0 0;
  background-size: cover;
  width: 25px;
  height: 20px;
  margin-top:0px;
}
