#layout{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	display:none;
	background: rgba(1,1,1,0.4);
	z-index: 1100;
}

#chuang{
	position: absolute;
	display: none;
	height:400px;
	width: 500px;
	background: url(../img/main_bg.jpg) no-repeat -34px -8px;
	z-index: 1101;
  border-radius:5px;
}

#mask{
	position: absolute;
	width: 335px;
	height: 116px;
	top: 100px;
	left: 82px;
	background: url(../img/num_mask.png) repeat-x 0 0;
}

#rotator{
	width:359px;
	height:166px;
	margin:0 auto;
	margin-top: 94px;
}

.num{
	float:left;
	height: 161px;
	width:111px;
	margin-left: 5px;
}

#n1{background: url(../img/sign.png) repeat-y 0px 0px;}
#n2{background: url(../img/num.png) repeat-y 0px 0px;}
#n3{background: url(../img/num.png) repeat-y 0px 0px;}

#stbtn{
	width: 198px;
	height: 67px;
	margin:0 auto;
	background: url(../img/btn_start.png) no-repeat center 0;
  margin-top: 5px;
	cursor:pointer;
}

#twice_label{
  width: 140px;
  margin: 0px auto;
  margin-top: 18px;
  color:white;
}
#twice_more_label{
  width: 210px;
  margin: 0px auto;
  margin-top: 0px;
  color:white;
  display:none;
}


#close_btn{
	width: 30px;
	height: 30px;
	position: absolute;
	right:-13px;
	top:-13px;
	z-index: 1102;
	background: url(../img/close_btn.png) no-repeat -30px 0px;
}
#close_btn:hover{background-position: 0 0}
